.alladd {
    margin: 0 auto;
    height: 100%;
}

.alladd span {
    margin-left: 30%;
    font-family: Arial;
    font-size: 36pt;
}

.form_add_company {
    border-style: solid;
    margin-left: 10%;
    margin-right: 10%;
    border-width: 2px;
    border-color: rgba(195, 195, 195, 0.5);
    background-color: rgba(195, 195, 195, 0.31);
}

.form_add_company dl {
    margin-left: 30%;

}

.form_add_company input#okey {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border-radius: 4px;
    color: #555555;
    display: block;
    width: 120px;
    margin: 20px auto;
    font-size: 14px;
    text-align: center;
    height: 30px;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 4px 6px;
    vertical-align: middle;
    text-decoration: none;
}

.form_add_company input#okey:hover, .form_add_company input#okey:focus {
    border-color: rgba(82, 168, 236, 0.8);
}